$ease-out: all .3s cubic-bezier(0.23, 1, 0.32, 1);
$on-hold: #FB7D44;
$in-progress: #2A92BF;
$needs-review: #F4CE46;
$approved: #00B961;

.drag-container {
  width: 90%;
  max-width: 90%;
}

.drag-list {
  display: flex;
  align-items: flex-start;
  margin: 0 -15px;

  // @media (max-width: 690px) {
  // 	display: block;
  // }
}

.drag-column {
  flex: 1;
  margin: 0 15px;
  position: relative;
  background: #fff;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
  overflow: hidden;

  @media (max-width: 690px) {
    margin-bottom: 30px;
  }

  h2 {
    font-size: 0.8rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
  }

  &-on-hold {

    .drag-column-header,
    .is-moved,
    .drag-options {
      background: $on-hold;
    }
  }

  &-in-progress {

    .drag-column-header,
    .is-moved,
    .drag-options {
      background: $in-progress;
    }
  }

  &-needs-review {

    .drag-column-header,
    .is-moved,
    .drag-options {
      background: $needs-review;
    }
  }

  &-approved {

    .drag-column-header,
    .is-moved,
    .drag-options {
      background: $approved;
    }
  }
}

.drag-column-header {
  display: block;
  font-size: 16px;
  padding: 15px;
  height: auto;
  width: auto;
  line-height: unset;
  background: rgba(115, 102, 255, 0.05);

  .kanban-title-board {
    font-weight: 500;
    margin: 0;
    padding: 0;
    display: inline;
    text-transform: capitalize;
  }
}

.drag-inner-list {
  min-height: 50px;
  padding: 20px;
}

.drag-item {
  margin: 0px;
  margin-bottom: 20px;
  transition: $ease-out;

  &:last-child {
    margin-bottom: 0;
  }

  &.is-moving {
    // transform: scale(1.5);
    background: rgba(white, 0.9);
  }

  .kanban-box {
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(115, 102, 255, 0.03);
    position: relative;
    display: block;
    color: inherit;

    &:hover {
      color: inherit;
    }

    &+.kanban-box {
      margin-top: 20px;
    }

    p {
      opacity: 0.7;
    }

    .list {
      display: inline-block;
      opacity: 0.4;

      li {
        display: inline-block;
        font-size: 12px;
        margin-right: 8px;

        i {
          margin-right: 10px;
        }
      }
    }

    .badge {
      font-weight: 400;
    }

    h6 {
      font-size: 15px;
      margin-top: 5px;
      font-weight: 500;
    }

    .dropdown {
      display: inline-block;
      right: 10px;
      position: absolute;
      top: 20px;

      .dropdown-item {
        font-size: 13px;
        font-weight: 500;
        padding: 5px 10px;
        text-align: left;
      }

      svg {
        height: 14px;
      }
    }

    .d-flex {
      justify-content: space-between;
    }

    .dropdown-toggle {
      &:after {
        content: none;
      }
    }

    .customers ul li+li {
      margin-left: -10px;
    }

    .date {
      font-size: 11px;
      opacity: 0.5;
    }
  }
}

.drag-header-more {
  cursor: pointer;
}

.drag-options {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  transform: translateX(100%);
  opacity: 0;
  transition: $ease-out;

  &.active {
    transform: translateX(0);
    opacity: 1;
  }

  &-label {
    display: block;
    margin: 0 0 5px 0;

    input {
      opacity: 0.6;
    }

    span {
      display: inline-block;
      font-size: 0.9rem;
      font-weight: 400;
      margin-left: 5px;
    }
  }
}

/* Dragula CSS  */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.5;
}